fastapi
uvicorn==0.23.2
sqlalchemy
langchain
langchain-openai
python-dotenv==1.0.1
requests
beautifulsoup4
pydantic
aiohttp
nest_asyncio
langchain-community
langchainhub
langchain-core
langchain-experimental
tiktoken
python-box
numerize
feedparser
trafilatura
websockets==11.0.3
psycopg2-binary==2.9.9
