fastapi
uvicorn
sqlalchemy
langchain
langchain-openai
python-dotenv
requests
beautifulsoup4
pydantic
aiohttp
nest_asyncio
langchain-community
langchainhub
langchain-core
langchain-experimental
tiktoken
python-box
numerize
feedparser
trafilatura
